.title {
        text-align:center; 
        font-size:5vh; 
        font-weight:600;
}

.form-div{
    border:solid black 2px;
    background-color:rgba(211, 211, 211, 0.6);
    width:50%;
}

@media (max-width:800px) {
    .form-div{
        width: 100%;
    }
}